# Project files and directories
/book/settings.py
/book/static/

# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Backup Files
*.bak

#Pycharm
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Python
*.py[cod]
*$py.class

